@font-face {
    font-family: 'icomoon';
    src: url('/icons/icomoon.eot');
    src: url('/icons/icomoon.eot') format('embedded-opentype'),
    url('/icons/icomoon.ttf') format('truetype'),
    url('/icons/icomoon.woff') format('woff'),
    url('/icons/icomoon.svg') format('svg');
}

.icon {
    font-family: 'icomoon' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-no-selected:before {
    content: "\e910";
}

.icon-selected:before {
    content: "\e911";
}

.icon-1:before {
    content: "\e900";
}

.icon-2:before {
    content: "\e901";
}

.icon-3:before {
    content: "\e902";
}

.icon-4:before {
    content: "\e903";
}

.icon-5:before {
    content: "\e904";
}

.icon-6:before {
    content: "\e905";
}

.icon-7:before {
    content: "\e906";
}

.icon-8:before {
    content: "\e907";
}

.icon-9:before {
    content: "\e908";
}

.icon-back:before {
    content: "\e909";
}

.icon-check:before {
    content: "\e90a";
}

.icon-export:before {
    content: "\e90b";
}

.icon-import:before {
    content: "\e90c";
}

.icon-mail:before {
    content: "\e90d";
}

.icon-plus:before {
    content: "\e90e";
}

.icon-return:before {
    content: "\e90f";
}

.icon-top:before {
    content: "\e912";
}

.icon-trash:before {
    content: "\e913";
}